.sidebar__container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;
  border-radius: 10px;
  width: 10%;
  height: 30%;
  position: fixed;
  margin-top: 3rem;
}

.sidebar {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 1rem;
}

.sidebar__li {
  font-size: 1.8rem;
}
