.sidebar__container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;
  border-radius: 10px;
  width: 10%;
  height: 25%;
  position: fixed;
  margin-top: 3rem;
}

.sidebar {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 1.2rem;

  margin-left: 1.2rem;
}

.sidebar__li {
  font-size: 1.6rem;
}

.icons {
  font-size: 1.6rem;
  padding-right: 0.6rem;
  color: #6f35fc;
}

.sidebar__search {
  margin-top: 0.2rem;
  width: 200px;
}
