.sidebar__container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;
  border-radius: 10px;
  width: 10%;
  height: 30%;
  position: fixed;
  margin-top: 3rem;
}

.sidebar {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 1rem;
  margin-left: 0.6rem;
}

.sidebar__li {
  font-size: 1.6rem;
}

.icons {
  font-size: 1.6rem;
  padding-right: 0.6rem;
}

.sidebar__search {
  margin-top: 0.2rem;
  width: 200px;
}
