*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

html {
  color-scheme: dark light;
  font-size: 100%;
}

body {
  max-width: 1400px;
  margin: auto;
  min-height: 100vh;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
textarea,
button,
select {
  font: inherit;
}

button {
  background-color: #a2d882;
  color: #fff;
  cursor: pointer;
}
button:hover {
  opacity: 0.8;
}

@media screen and (min-width: 800px) and (max-width: 1050px) {
  body {
    max-width: 1000px;
    margin: auto;
  }
}

@media screen and (max-width: 480px) {
  body {
    width: 350px;
    margin: auto;
  }
}
