.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 3rem 1rem 3rem;
  border-bottom: 1px solid #fff;
}

.nav__links {
  display: flex;
  align-items: center;
  gap: 1.4rem;
  margin-top: 1rem;
  font-size: 1.2rem;
}

li,
a {
  color: inherit;
  font-size: 1.4rem;
  list-style: none;
  text-decoration: none;
}

.nav__header {
  font-size: 3rem;
}
