.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #fff;
  padding-top: 1.2rem;
}

.nav__links {
  display: flex;
  align-items: center;
  gap: 1.4rem;
  margin-top: 1rem;
  font-size: 1.2rem;
}

li,
a {
  color: inherit;
  font-size: 1.4rem;
  list-style: none;
  text-decoration: none;
  color: #fff;
}

.nav__header {
  font-size: 3rem;
}

.nav__btn {
  border: none;
  width: 120px;
  border-radius: 10px;
}

@media screen and (max-width: 480px) {
  .nav__header {
    font-size: 2rem;
  }

  .nav__btn {
    font-size: 1.2rem;
    width: 100px;
  }

  .profile__img {
    display: none;
  }
}
